/*VERSION 3*/
/*Added styling for chart buttons, HTML axis labels & reference page styling*/

html, body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    background-color: lightgray;
    margin: 0;
}

header{
    font-size: x-large;
    text-align: center;
    background-color: orange;
    padding: 1px;
}

.overview, .description, .warning{
    font-size: large;
    margin: 0.75%;
}

.warning{
    font-size: x-large;
}

footer, .fcontent{
    position: relative;
    font-style: italic;
    line-height: 0.65;
    background-color: lightslategrey;
    padding: 0.75%;
}


/*REFERENCE PAGE CONTENT*/
.refbody{
    padding-top: 2%;
    padding-bottom: 13.6%;
    margin: 0.75%;    
}

.references{
    position: absolute;   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);      
}


/*CHART*/
.Xaxis{
    text-align: center;
}

#chartcontent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Yaxis{
    transform: rotate(-90deg);
    position: absolute;
    left: 0%;
}

.filterlabel{
    display: flex;
    align-items: center;
    justify-content: center;    
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}