/*VERSION 2.1*/
/*Changes made in correlation to websitev2 + extra*/

html, body, footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

header{
    font-size: x-large;
    text-align: center;
    background-color: orange;
    padding: 1px;
}

footer{     /*Lines moved closer and changed background colour for contrast. FIX PADDING ISSUE*/
    font-style: italic;
    line-height: 0.65;
    background-color: lightslategrey;
}

footer, .overview, .description, .warning{      /*.symptoms class removed*/
    font-size: large;
    margin: 0.75%;
}